@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:500,400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Open Sans";
    font-weight: 400;
    color: #1e1e1e;
    -webkit-font-smoothing: antialiased;
}

.navbar { background: black; }

/*---------------------------------------------------------------------------*/
/* Make the navbar the same height as the main racket page's navbar */
.navbar-brand,
.navbar-nav > li > a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}
.navbar-btn {
    margin-top: 13px;
    margin-bottom: 13px;
}
/*---------------------------------------------------------------------------*/

.build_green { background-color: #ccffcc; }
.build_yellow { background-color: #ffffcc; }
.build_red { background-color: #ffcccc; }

.doctags-label { font-weight: bold; }

table.packages, table.package-details, table.package-versions {
    width: 100%;
}

table {
    border: 1px solid #e5e5e5;
}
td, th {
    border-top: 1px solid #e5e5e5;
    vertical-align: top;
    padding: 0.5em;
}

ul.list-inline { display: inline-block; }
ul.list-inline li { padding-right: 0; }

ul.authors { list-style: none; padding: 0; }
ul.authors a { color: black; }

table.packages h2 { font-size: 160%; margin-top: 0; }

ul.build-results,
ul.module-list {
    list-style: none; padding: 0;
}

.search-results { margin-top: 3em; }
.search-results .package-count {
    font-size: 100%;
    padding: 0.5em;
    background: #eee;
}

input#new_version {
    width: 6em;
}

.confirm-package-deletion {
    background-color: red;
    padding: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    color: white;
    border: solid yellow 1em;
}
.confirm-package-deletion h2 {
    margin: 0;
}

.package-count {
    font-size: 120%;
}

.jumbotron .build-status a,
.jumbotron .build-status {
    font-size: 100%;
    text-decoration: none;
}

/* Sortable tables */
th.headerSortUp::after { content: " ▲"; }
th.headerSortDown::after { content: " ▼"; }

#register-button,
#sign-in-button {
    margin-left: 8px;
    margin-right: 0px;
}
